

body,
input {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    margin: 0;
}

a {
 text-decoration: none !important;
}

ul {
    list-style: none;
}
/* header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #141414;
    min-height: 7rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid white;
}
header img {
    height: 5vh;
    padding: 10px;
    transform: scale(0.7);
}

.nav-icon {
    float: right;
    transition: linear 0.2s;
    cursor: pointer;
}

.nav-icon:hover {
    transform: scale(1.01);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header li {
    margin: 0 0 0 1em;
    cursor: pointer;
}

header li:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

header a {
    color: #ffffff;
    font-weight: bold;
}

nav {
    margin-right: 2rem;
    margin-left: 2rem;
    height: 100%;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    font-size: 3rem;
    cursor: pointer;
}

.home-button:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.product-button {
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background-color: #D87D4A;
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.product-button:hover {
    color: #D87D4A;
    background-color: #ffffff00;
    border: 2px solid #D87D4A;
}

/*Hamburger menu*/

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.466);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
}

.nav-icon {
    float: none;
    min-width: 52.25px;
}

.sidebar li {
    width: 100%;
    margin: 1em 0 0 0;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media only screen and (max-width: 1050px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .sidebar li {
        padding-left: 30px;
    }
}


/*section*/

.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 50vh; */
    background-color: #ebebeb;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .content-section {
        height: auto;
        flex-direction: column;
    }
  }

.section-2 {
    display: flex;
    background-color: #fff;
}

@media only screen and (max-width: 1000px) {
    .section-2 {
        flex-direction: column;
    }
  }

.content-2-2 {
    background-color: rgba(216, 216, 216, 0.562);
    margin: 3rem;
}

@media only screen and (max-width: 1000px) {
    .content-2-2 {
        margin: 1rem;
    }
  }

.content-left,
.content-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.content-right {
    margin-left: 20px;
}

.content-left {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.section-text{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.gray {
    background-color: #bebebe;
}

@media only screen and (max-width: 1000px) {
    .gray {
       flex-direction: column-reverse;
    }
  }

#high-heels-2 {
    transform: scale(1.2);
    position: relative;
    left: -15%;
    height: 100%;
       width: auto;
}

@media only screen and (max-width: 1000px) {
    .high-heels-2 {
       height: 100%;
       width: auto;
    }
  }

.content-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}

.boot-2 {
    max-height: 400px;
    width: auto;
    display: block;
}

.high-heels-3 {
    max-height: 500px;
    width: auto;
    display: block;
}

.content-3 {
    position: relative;
    float: right;
}

.section-3 {
    background-color: #fff;
}

.section-h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    margin: 2rem;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .luxury {
       font-size: 3rem;
    }
  }

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-button-2 {
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

/*Hero section*/

.hero-content-left,
.hero-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .hero-content-left {
       align-items: center;
    }
  }

.hero-content-left {
    flex-direction: column;
}

.hero-title {
    margin: 2rem;
    font-size: 3rem;
}


.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;
    margin: 0 auto;
    color: white;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 60vh;
}

@media only screen and (max-width: 1000px) {
    .hero-section {
        flex-direction: column-reverse;
    }
  }

.hero-img {
    transform: scaleX(-1) scale(1.3);
    height: 100%;
    z-index: 1;
    margin-top: -2.5rem;
}

/*Categories section*/
.image-text-section {
    text-align: center;
    margin-bottom: 3rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .image-container {
       flex-direction: column;
    }
  }

.image-wrapper {
    flex-basis: 30%;
    position: relative;
    padding-bottom: 2rem;
}

.image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(216, 216, 216, 0.562);
    z-index: -1;
}

.image-wrapper img {
    width: 100%;
}

.image-wrapper p {
    margin-top: 10px;
}

.image-wrapper a {
    color: #D87D4A;
    cursor: pointer;
}

/*Parallax section*/
.parallax {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .parallax {
       top: -100px;
    }
  }

@media only screen and (max-width: 700px) {
    .parallax {
       top: -200px;
    }
  }

.parallax h1 {
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.parallax-background {
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 80%;
    height: 80%;
    background-image: url('./images/sneaker-3.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    /* border-radius: 30px; */
}

@media only screen and (max-width: 700px) {
    .parallax-background {
       width: 100%;
       height: 40%;
    }
  }

.parallax-content {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .parallax-content {
       margin-left: 2rem;
       margin-right: 2rem;
       margin-bottom: 0;
    }
  }

.parallax-text-container {
    background-color: rgba(216, 216, 216, 0.562);
    padding: 20px;
    position: relative;
    margin-top: 5rem;
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .parallax-text-container {
       margin-left: 100px;
    }
  }

.parallax-button {
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background-color: #D87D4A;
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    transition: 0.2s;
    border: none;
    cursor: pointer;
    margin-top: 7rem;
}

@media only screen and (max-width: 1000px) {
    .parallax-button {
       margin-right: 100px;
       margin-left: 1rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    .footer ul {
        font-size: small;
    }
  }

  .neon {
    color: #f500f5;
    text-shadow: 0 0 10px #ff6ec7, 0 0 20px #ff6ec7, 0 0 40px #ff6ec7, 0 0 80px #ff6ec7;
  }

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 3rem;
    height: 30vh;
    background-color: #000000;
    color: white;
}

.footer a {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .footer {
        flex-direction: column-reverse;
        height: auto;
    }
  }

.description {
    color: #999999;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-right {
    flex: 1;
    text-align: right;
    height: 100%;
}

.footer-menu {
    margin-top: 3rem;
}

.social-icons {
}

.footer-menu ul,
.social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-menu ul li,
.social-icons ul li {
    display: inline-block;
    margin-right: 3rem;
    cursor: pointer;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1000px) {
    .footer ul li{
        margin-right: 10px;
        font-size: 1rem;
    }
  }

.social-icons {
    margin-top: 3rem;
}

.footer-menu ul li:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* Category-hero section */

.category-hero {
    color: white;
    background-color: #141414;
    height: 25vh;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.category-hero-h1 {
    font-size: 3.5rem;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    /*display: flex;*/
    position: absolute;
    z-index: 2;
    padding-left: 0 !important;
    text-shadow: none;
    padding-top: 10px;
}

.dropdown-menu li {
    padding-top: 10px;
    text-decoration: none;
    display: block;
    margin-left: 0.4rem !important;
    font-size: 1.1rem;
    background-color: #141414bd;
    padding: 5px;
}

#categories-dropdown:hover {
    text-shadow: none !important;
}

/*Dropdown-phone*/
#categoryMenu-phone {
    display: none;
}

.dropdown-menu-phone {
    text-shadow: none;
}

/* Dropdown footer */
.dropdown-menu-footer {
    position: absolute;
    display: none;
    flex-direction: column;
    text-shadow: none;
}


/* zig-zag */
.zig-zag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    height: 50vh;
    background-color: rgba(216, 216, 216, 0.562);
}

@media only screen and (max-width: 1000px) {
    .zig-zag {
        flex-direction: column;
        height: 10%;
    }
}

.image-side,
.text-side {
    width: 50%;
    height: 100%;
    overflow: hidden;
}



.text-side {
    padding-left: 2rem;
}

@media only screen and (max-width: 1000px) {
    .text-side {
        padding: 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text-side h1 {
    padding-top: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .text-side h1 {
        padding-top: 1rem;
    }
}

.text-side p {
    width: 85%;
}

.zig-zag-button {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.orange {
    color: #D87D4A;
    margin-top: 0;
    margin-bottom: 2rem;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Products */
.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.product-card {
    width: 25%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
    .product-card {
        width: 50%;
    }
}

.card-image {
    transform: scale(0.8);
    background-color: #F1F1F1;
}

.card-text-container {
    height: 4rem;
    margin-bottom: 1rem;
}

.product-name {
    margin-top: 0.3rem;
}

.card-button {
    background-color: #D87D4A;
    height: 3rem;
    width: 8.1rem;
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #D87D4A;;
}

.card-button:hover {
    color: #D87D4A;
    background-color: #ffffff00;
}

/* Social icon */
.social-icon {
    height: auto;
    width: 2.5vh;
}

/* Paginator */

#paginator {
    margin: 3rem auto 1em auto;
    width: fit-content;
    text-align: center;
}

#paginator svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

#paginator p {
    display: none;
}

#paginator nav > div:first-child {
    display: none;
}

#paginator nav > :nth-child(2) a {
    color: black;
}

span[aria-current="page"] {
    color:#D87D4A;
}